@import '~@fortawesome/fontawesome-free/css/all.min.css';

.header {
  background-color: #444638;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #F2F1ED;
  width: 100%;
}


.topnav {
  position: relative;
  top: 25px;
  left: 10%;
  overflow: hidden;
  background-color: none;

}

.topnav a {
  float: left;
  color: #F2F1ED;
  text-align: center;
  padding: 10px 26px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  margin-right: 30px;
}

/* .topnav a:hover {
  background-color: #dddddd;
  color: black;
} */

.topnav a.active {
  background-color: #F2F1ED;
  color: #11190C;
}

/* HEADER */

.logo {
  position: absolute;
  width: 100px;
  top: 0px;
  display: flex;
  align-items: center;
}


.headerimage {
  position: absolute;
  width: 709.36px;
  height: 982.64px;
  left: 50%;
  top: -152px;
}

.heading {
  position: absolute;
  top: 118px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 123px;
  color: #ffffff;

  display: flex;
  align-items: center;
  letter-spacing: 0.11em;
}

.description {
  position: absolute;
  width: 615px;
  height: 110px;
  left: 10%;
  top: 282px;
  color: #ffffff;
}

.home-section {

  position: relative;
  background-color: #F2F1ED;
  padding: 10px;
  text-align: left;
}

.home-section img {
  max-width: 100%;
  margin-right: 50px;
  float: left;
}

.home-section h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.home-section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.section-1 {
  position: relative;
  height: 200px;
}

.Aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-image {
  border: 5px solid #86AE01;
  border-radius: 20px;
}

/* Card Section */

.CardSection {
  position: relative;
}

.Card {
  border-radius: 10px;
  border: 4px solid #444638;
  background: #F2F1ED;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.10);
}

.addform {
  position: relative;
  background-color: white;
  padding-top: 20px;
}

.CardSection {
  position: relative;
}

.Card {
  width: auto;
  border-radius: 10px;
  border: 4px solid #444638;
  background: #F2F1ED;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.10);
}

.CardBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the text horizontally */
  width: 50%;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #444638;
  background: #E5FF00;
  margin: 20px;
  cursor: pointer;
  padding: 10px 20px;
  /* Add more padding */
}

.cardimage {
  border-radius: 7px;
  border: 4px solid #444638;
  margin: 10px;
  width: 95%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.card-content {
  padding: 10px;
}

.card-title {
  margin-top: 0;
}

.details-list {
  list-style-type: none;
  padding: 0;
}

.details-list li {
  margin-bottom: 5px;
}

.details-list li strong {
  font-weight: bold;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #444638;
  color: white;
  padding: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-column h2 {
  font-size: 1.2em;
  margin-top: 0;
}

.footer-column p {
  margin: 0;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ccc;
}

.footer-column ul li a:hover {
  color: #fff;
}

.fl {
  display: flex;
}

.CardBtnEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #444638;
  background: #E5FF00;
  margin: 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  max-width: 300px;
}

.CardBtnDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #444638;
  background: #FF3333;
  margin: 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.NavLink:hover {
  background-color: #E2FC06;
  color: #11190C;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #E5FF00;
}

.carddetails {
  background-color: #11190C;
}

.checkoutText {
  border-radius: 5px;
  background-color: #E5FF00;
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;
}